/* Code tidied up by ScrapBook */
html, body, h1, h2, h3, h4, p, ul, ol, li, blockquote, table, dl, dt, dd, hr { margin: 0px; padding: 0px; }
h1, h2, h3, h4, p, ul, ol, li, blockquote, table, dl, dt, dd, hr { border: 0px none; }
body, input, button, select, textarea { font-family: Tahoma,Verdana,Arial,sans-serif; }
html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0px; text-align: center; line-height: 1.4; font-size: 0.8em; color: rgb(102, 102, 102); background: rgb(210, 233, 165) url("body.png") repeat-x scroll center top; }
h1 { margin-bottom: 8px; font-size: 140%; font-weight: normal; color: rgb(81, 132, 219); }
h2 { margin-bottom: 8px; font-size: 140%; font-weight: normal; color: rgb(81, 132, 219); }
h3 { margin-bottom: 4px; font-size: 110%; color: rgb(153, 204, 51); }
h4 { margin-bottom: 4px; font-size: 105%; color: rgb(51, 51, 51); }
h5 { margin-bottom: 4px; font-size: 100%; color: rgb(102, 102, 102); }
p { margin-bottom: 1em; }
ul { margin-bottom: 1em; }
ul ul { margin: 0px; }
ul li { margin-left: 20px; padding-left: 15px; list-style: outside none none; background: rgba(0, 0, 0, 0) url("li.png") no-repeat scroll left 7px; }
ol { margin-bottom: 1em; }
ol ol { margin: 0px; }
ol li { margin-left: 20px; }
blockquote { margin-bottom: 1em; padding: 0.5em 1em; background: rgb(219, 237, 255) none repeat scroll 0% 0%; border: 1px solid rgb(153, 204, 255); }
table { margin-bottom: 1em; font-size: 85%; border-collapse: collapse; }
table.modernTable td { padding: 5px 15px; border-width: 1px 0px; border-style: solid; border-color: rgb(153, 204, 255); }
table.modernTable thead td { background: rgb(219, 237, 255) none repeat scroll 0% 0%; }
dl { margin-bottom: 1em; }
dt {  }
dd { margin-left: 30px; }
a, a:visited { color: rgb(81, 132, 219); }
a:hover, a:active, a:focus { color: rgb(124, 175, 6); }
hr { height: 0px; margin-bottom: 1em; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(153, 204, 255); }
div.fulltext form, div.contact form, div.discussion form, .privateAccessForm form { margin: 1em 0px; padding: 7px 5px 15px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(210, 233, 165); }
div.fulltext fieldset, div.contact fieldset, div.discussion fieldset, .privateAccessForm fieldset { margin: 0px; padding: 0px; overflow: hidden; border: 0px none; }
div.fulltext label, div.contact label, div.discussion label, .privateAccessForm label { clear: both; display: block; margin: 3px 0px; padding: 1px 10px 4px; }
div.colA div.contact label, div.colA div.discussion label, div.colB div.contact label, div.colB div.discussion label, .privateAccessForm label { padding-top: 4px; }
label::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
label.wrong { background: rgb(255, 229, 229) none repeat scroll 0% 0%; }
div.colA label span, div.colB label span { float: left; }
div.colA label span { width: 174px; }
div.colB label span { width: 100px; }
div.fulltext input, div.contact input, div.discussion input, select, textarea, .privateAccessForm input { font-size: 100%; border: 1px solid rgb(153, 153, 153); }
label.wrong input, label.wrong textarea { border-color: rgb(255, 110, 110); }
div.fulltext input, div.contact input, div.discussion input, .privateAccessForm input { padding-left: 2px; }
select {  }
textarea { display: block; height: 100px; overflow: auto; }
div.fulltext input, div.contact input, div.discussion input, textarea, .privateAccessForm input { margin: 2px 0px 0px; }
div.colA div.contact input, div.colA div.discussion input, div.colA textarea, div.colB div.fulltext input, div.colB div.contact input, div.colB div.discussion input, div.colB textarea, .privateAccessForm input { float: right; margin: 0px 0px 0px 5px; }
div.colA div.contact input, div.colA div.discussion input, .privateAccessForm input { width: 300px; }
div.colA textarea { width: 300px; }
div.colB div.contact input, div.colB div.discussion input { width: 196px; }
div.colB textarea { width: 197px; }
div.colC div.fulltext input, div.colC div.contact input, div.colC div.discussion input { width: 208px; }
div.colC textarea { width: 209px; }
div.colD div.fulltext input, div.colD div.contact input, div.colD div.discussion input { width: 133px; }
div.colD textarea { width: 134px; }
button { padding: 4px 10px; font-weight: bold; color: rgb(81, 132, 219); background: rgba(0, 0, 0, 0) none repeat scroll 0px center; border: 0px none; cursor: pointer; }
div.button { float: right; margin: 3px 10px 0px 0px; background: rgb(229, 238, 255) url("button.png") no-repeat scroll left top; }
div.button:hover { background-color: rgb(206, 222, 255); background-image: url("button-hover.png"); }
div.button div { float: left; background-image: url("button.png"); background-repeat: no-repeat; }
div.button:hover div { background-image: url("button-hover.png"); }
div.button div.rightTop { background-position: right top; }
div.button div.leftBottom { background-position: left bottom; }
div.button div.rightBottom { background-position: right bottom; }
.formError { margin: 0px 10px 10px; }
.cleaner { clear: both; display: block; visibility: hidden; height: 0px; line-height: 0; }
.hidden { display: none; }
.notFound { text-align: left; }
div#page { position: relative; width: 760px; min-height: 100%; margin: 0px auto; background: rgb(255, 255, 255) url("page.png") no-repeat scroll 15px top; border-width: 0px 5px; border-style: solid; border-color: rgb(235, 245, 214); }
div#wrapper { width: 730px; margin: 0px auto; padding: 2.73em 0px 4.31em; text-align: left; }
div#wrapper::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
div#header { height: 2.65em; margin: 0px auto 10px; padding: 6px 0px 0px; overflow: hidden; background: rgba(0, 0, 0, 0) url("header.png") no-repeat scroll left top; }
div#header #logo { float: left; width: 170px; padding-top: 2px; overflow: hidden; line-height: normal; font-size: 170%; color: rgb(170, 213, 85); }
div#header #logo a, div#header #logo .image { float: left; text-decoration: none; color: rgb(170, 213, 85); }
div#header #logo img { margin: 0px; border: 0px none; }
div#header h3#slogan { float: right; width: 545px; height: 100%; text-align: right; color: rgb(81, 132, 219); background: rgb(183, 219, 255) url("slogan.png") no-repeat scroll left bottom; }
div#header h3#slogan span#rbcCompanySlogan { display: block; width: 515px; height: 100%; overflow: hidden; margin: 0px 15px 0px auto; line-height: 2.8em; text-align: right !important; }
div#illustration { position: relative; width: 545px; height: 170px; overflow: hidden; }
div#illustration img { display: block; margin: 0px; border: 0px none; }
div#illustration span.masque { position: absolute; left: 0px; top: 0px; display: block; width: 545px; height: 170px; background: rgba(0, 0, 0, 0) url("masque.png") no-repeat scroll left top; }
div#pageNavigator { margin-top: 6px; padding: 0px 10px 4px; overflow: hidden; font-size: 85%; line-height: 1.75em; border-bottom: 1px solid rgb(219, 237, 255); }
div#pageNavigator a, div#pageNavigator a:visited { text-decoration: none; color: rgb(83, 83, 83); }
div#pageNavigator a:hover, div#pageNavigator a:active, div#pageNavigator a:focus { text-decoration: underline; color: rgb(124, 175, 6); }
div#pageNavigator span { margin: 0px 1px; color: rgb(153, 204, 51); }
div#pageNavigator span#navCurrentPage { margin: 0px; color: rgb(135, 135, 135); }
div#menu { border-bottom: 2px solid rgb(194, 224, 132); }
div#menu div.content { margin: 0px; background: rgb(235, 245, 214) none repeat scroll 0% 0%; }
div#menu h2 { margin: 0px 0px 5px; padding-top: 10px; font-size: 110%; line-height: normal; text-transform: uppercase; background: rgb(159, 207, 54) url("menu.png") no-repeat scroll 0px top; }
div#menu h2 span { display: block; padding: 0px 10px 16px 26px; color: rgb(51, 51, 51); background: rgba(0, 0, 0, 0) url("menu.png") no-repeat scroll -170px bottom; }
div#menu ul { margin: 0px; }
div#menu ul li { margin: 0px; padding: 0px; background: rgb(235, 245, 214) none repeat scroll 0% 0%; }
div#menu ul li.selected { font-weight: bold; background: rgb(177, 216, 100) none repeat scroll 0% 0%; }
div#menu ul li a, div#menu ul li a:visited { display: block; padding: 0px 10px 0px 26px; text-decoration: none; color: rgb(83, 83, 83); border-bottom: 1px solid rgb(255, 255, 255); background: rgba(0, 0, 0, 0) url("menu.png") no-repeat scroll -340px top; cursor: pointer; }
div#menu ul li a:hover, div#menu ul li a:active, div#menu ul li a:focus { color: rgb(255, 255, 255); background-color: rgb(153, 204, 51); background-position: -510px top; }
div#menu ul li.selected a, div#menu ul li.selected a:visited { color: rgb(255, 255, 255); background-position: -680px top; }
div#menu ul li.selected a:hover, div#menu ul li.selected a:active, div#menu ul li.selected a:focus { background-position: -850px top; }
div#menu ul li a span { display: block; width: 100%; padding: 4px 0px; overflow: hidden; }
div#menu li.activeSelected a span { font-weight: bold; color: rgb(81, 132, 219); }
div#menu li.activeSelected a:hover span, div#menu li.activeSelected a:focus span, div#menu li.activeSelected a:active span { color: rgb(81, 132, 219); }
div#menu ul li.selected ul { font-weight: normal; background: rgb(210, 233, 165) none repeat scroll 0% 0%; }
div#menu ul li.selected li { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
div#menu ul li.selected li a, div#menu ul li.selected li a:visited { padding-left: 35px; font-size: 100%; color: rgb(83, 83, 83); background-image: none; }
div#menu ul li.selected li a:hover, div#menu ul li.selected li a:active, div#menu ul li.selected li a:focus { color: rgb(255, 255, 255); }
div#menu ul li.activeSelected li a span { font-weight: normal; color: rgb(83, 83, 83); }
div#menu ul li.activeSelected li a:hover span, div#menu ul li.activeSelected li a:focus span, div#menu ul li.activeSelected li a:active span { color: rgb(255, 255, 255); }
div#menu ul li.selected li.selected li a { padding-left: 44px; }
div#container { width: 545px; float: right; }
div#main { clear: both; width: 545px; }
div#content { width: 100%; margin-top: 10px; }
div#sidebar { float: left; width: 170px; }
div.colA, div.colB, div.colC, div.colD { overflow: hidden; }
div.colA { clear: both; width: 545px; }
div.colB { width: 360px; }
div.colC { width: 265px; }
div.colD { width: 170px; line-height: 1.38; font-size: 85%; }
div.floatLeft { float: left; }
div.floatRight { float: right; }
#topBar { position: absolute; right: 16px; top: 0px; width: 560px; height: 3.1em; margin: 0px; overflow: hidden; line-height: 3em; text-align: right; font-size: 85%; }
#topBar ul#quick { float: right; }
#topBar ul#quick li { float: left; padding: 2px 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
#topBar ul#quick li.homepage a { background-image: url("homepage.png"); }
#topBar ul#quick li.sitemap a { background-image: url("sitemap.png"); }
#topBar ul#quick li.rss a { background-image: url("rss.png"); }
#topBar ul#quick li.print a { background-image: url("print.png"); }
ul#quick li a, ul#quick li a:visited { padding-left: 17px; text-decoration: none; color: rgb(81, 132, 219); background-repeat: no-repeat; background-position: left 40%; }
ul#quick li a:hover, ul#quick li a:active, ul#quick li a:focus { text-decoration: underline; color: rgb(124, 175, 6); }
div#search { border: 0px none; }
div#search h2 {  }
div#search form { margin: 0px; padding: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; border: 0px none; }
div#search form fieldset { margin: 0px; padding: 0px 0px 0px 4px; border: 1px solid rgb(153, 153, 153); }
div#search form fieldset::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
div#search input { width: 121px; vertical-align: middle; margin: 3px 0px; padding-left: 0px; font-size: 100%; color: rgb(83, 83, 83); border: 0px none; }
div#search input.submit { width: 16px; height: 16px; }
div#footer { position: absolute; left: 15px; bottom: 14px; width: 700px; height: 3.03em; padding: 0px 15px; overflow: hidden; line-height: 3em; text-align: left; border-width: 1px 0px; border-style: solid; border-color: rgb(219, 237, 255); }
div#footer p { float: left; width: 60%; margin: 0px; }
div#footer p#rubicus { float: right; width: 38%; text-align: right; }
div.box { margin-bottom: 10px; overflow: hidden; }
div.box div.content { margin: 0px 10px 10px; }
div.colD div.box { border-bottom: 2px solid rgb(226, 229, 232); }
div.colD div.box h2 { margin: 0px -10px 7px; padding-top: 7px; font-size: 128%; background: rgb(187, 221, 255) url("sidebar-heading.png") no-repeat scroll 0px top; }
div.colD div.box h2 span { display: block; padding: 0px 10px 14px; text-transform: uppercase; color: rgb(51, 51, 51); background: rgba(0, 0, 0, 0) url("sidebar-heading.png") no-repeat scroll -170px bottom; }
div.colD div.box div.wsw h1, div.colD div.box div.wsw h2 { margin: 0px 0px 8px; padding: 0px; font-weight: bold; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
div.colD div.wysiwyg div.wsw h1, div.colD div.wysiwyg div.wsw h2 { height: 1.8em; line-height: 2em; margin: 0px -10px; padding: 2px 10px 14px; overflow: hidden; font-size: 128%; font-weight: normal; text-transform: uppercase; color: rgb(51, 51, 51); background: rgba(0, 0, 0, 0) url("sidebar-heading.png") no-repeat scroll -680px top; }
div.item { margin-bottom: 15px; overflow: hidden; }
div.item .title { margin: 0px; overflow: hidden; font-size: 110%; font-weight: bold; color: rgb(81, 132, 219); }
div.pagination { margin-top: 15px; text-align: left; font-size: 95%; border-bottom: 1px solid rgb(219, 237, 255); }
div.colD div.pagination { font-size: 100%; }
div.pagination p.info { margin: 0px; padding: 5px 9px 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.pagination div.paging { padding: 0px 9px 2px; line-height: 1.75em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.pagination div.paging::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
div.pagination span.selected { float: left; margin: 0px 4px; font-weight: bold; }
div.pagination a, div.pagination a:visited { float: left; margin: 0px 4px; text-decoration: none; }
div.pagination a:hover, div.pagination a:active, div.pagination a:focus { text-decoration: underline; }
div.pagination a.leftEnd, div.pagination a.left, div.pagination a.right, div.pagination a.rightEnd { width: 10px; height: 1.75em; margin: 0px; text-decoration: none; background-image: url("paging.png"); background-repeat: no-repeat; }
div.pagination a.left { margin: 0px 7px 0px 3px; }
div.pagination a.right { margin: 0px 3px 0px 7px; }
div.pagination a.leftEnd, div.pagination a.leftEnd:visited { background-position: 0px 55%; }
div.pagination a.leftEnd:hover, div.pagination a.leftEnd:active, div.pagination a.leftEnd:focus { background-position: -10px 55%; }
div.pagination a.left, div.pagination a.left:visited { background-position: -20px 55%; }
div.pagination a.left:hover, div.pagination a.left:active, div.pagination a.left:focus { background-position: -30px 55%; }
div.pagination a.right, div.pagination a.right:visited { background-position: -40px 55%; }
div.pagination a.right:hover, div.pagination a.right:active, div.pagination a.right:focus { background-position: -50px 55%; }
div.pagination a.rightEnd, div.pagination a.rightEnd:visited { background-position: -60px 55%; }
div.pagination a.rightEnd:hover, div.pagination a.rightEnd:active, div.pagination a.rightEnd:focus { background-position: -70px 55%; }
div.pagination a.leftEnd span, div.pagination a.left span, div.pagination a.right span, div.pagination a.rightEnd span, div.pagination span.separator span { display: none; }
a.back, a.back:visited { padding-left: 17px; background: rgba(0, 0, 0, 0) url("back.png") no-repeat scroll left 60%; }
a.archive, a.archive:visited, a.newPost, a.newPost:visited, a.reply, a.reply:visited { padding-right: 17px; background: rgba(0, 0, 0, 0) url("more.png") no-repeat scroll right 60%; }
div.rbcBookmarks { margin: 15px 0px; text-align: left; }
div.rbcTags { margin: 15px 0px; padding: 5px 0px 7px; text-align: left; border-top: 1px solid rgb(219, 237, 255); border-bottom: 1px solid rgb(219, 237, 255); }
div.rbcTags h4 { display: inline; margin: 0px 5px 0px 0px; font-size: 100%; color: rgb(102, 102, 102); }
div.rbcTags p.tags { display: inline; }
div.tagCloud ol.tags { text-align: center; }
div.tagCloud ol.tags li { display: inline; margin: 0px 0.5em; list-style: outside none none; }
div.tagSearch {  }
div.tagSearch a.uri, div.tagSearch a.uri:visited { font-size: 85%; color: rgb(128, 128, 128); }
div.tagSearch a.uri:hover, div.tagSearch a.uri:active, div.tagSearch a.uri:focus { color: rgb(255, 170, 0); }
div.rss {  }
div.rss a.uri, div.rss a.uri:visited { font-size: 85%; color: rgb(128, 128, 128); }
div.rss a.uri:hover, div.rss a.uri:active, div.rss a.uri:focus { color: rgb(124, 175, 6); }
div.fulltext form { padding: 15px; background: rgb(243, 249, 230) none repeat scroll 0% 0%; }
div.fulltext label { margin: 0px; padding: 0px; }
div.colA div.fulltext label { clear: none; float: left; margin-right: 20px; line-height: 1.87em; }
div.colA div.fulltext label span { float: none; }
div.colA div.fulltext input, div.colA div.fulltext select { float: none; width: 78px; margin: 0px 0px 0px 5px; }
div.colA div.fulltext input { width: 93px; }
div.colB div.fulltext input, div.colB div.fulltext select { float: right; width: 172px; margin-bottom: 11px; }
div.colB div.fulltext input { width: 168px; }
div.colC div.fulltext input, div.colC div.fulltext select { display: block; margin: 2px 0px 11px; }
div.colC div.fulltext select { width: 212px; }
div.fulltext div.button { margin: 0px; background-image: url("button-fulltext.png"); }
div.fulltext div.button:hover { background-image: url("button-fulltext-hover.png"); }
div.fulltext div.button div { background-image: url("button-fulltext.png"); }
div.fulltext div.button:hover div { background-image: url("button-fulltext-hover.png"); }
div.colB div.fulltext div.button { clear: both; }
div.fulltext div.item { margin: 10px; }
div.fulltext a.uri, div.fulltext a.uri:visited { font-size: 85%; color: rgb(128, 128, 128); }
div.fulltext a.uri:hover, div.fulltext a.uri:active, div.fulltext a.uri:focus { color: rgb(124, 175, 6); }
div.fulltext p.size { margin: 0px; font-size: 85%; font-style: italic; }
div.contact {  }
div.colD div.contact div.content { margin: 0px 0px 1px; padding: 0px 10px 10px; color: rgb(83, 83, 83); background: rgb(235, 245, 214) none repeat scroll 0% 0%; }
div.colD div.contact div.content h2 { background: rgb(159, 207, 54) url("sidebar-heading.png") no-repeat scroll -340px top; }
div.colD div.contact div.content h2 span { background: rgba(0, 0, 0, 0) url("sidebar-heading.png") no-repeat scroll -510px bottom; }
div.contact address { overflow: hidden; font-style: normal; }
div.contact address span { display: block; }
div.contact address span.address { margin-bottom: 1em; }
div.sitemap {  }
div.sitemap ul { overflow: hidden; }
div.sitemap li { margin: 7px 0px 0px; padding-left: 16px; font-weight: bold; background: rgba(0, 0, 0, 0) url("more-sitemap.png") no-repeat scroll left 5px; }
div.sitemap li a, div.sitemap li a:visited { font-size: 95%; color: rgb(81, 132, 219); }
div.sitemap li a:hover, div.sitemap li a:active, div.sitemap li a:focus { color: rgb(124, 175, 6); }
div.sitemap li li { margin-left: 15px; font-weight: normal; }
div.wsw {  }
div.wsw img { margin: 0.5em; border: 1px solid rgb(219, 237, 255); }
div.wsw a img, div.wsw a:visited img { border-color: rgb(219, 237, 255); }
div.wsw a:hover img, div.wsw a:focus img, div.wsw a:active img { border-color: rgb(153, 204, 51); }
div.articles {  }
div.articles ins { text-decoration: none; font-size: 85%; color: rgb(102, 102, 102); }
div.articles .detail .wsw { margin-top: 10px; }
div.faq {  }
div.faq .title { position: relative; margin-bottom: 3px; padding-left: 20px; text-decoration: underline; cursor: pointer; }
div.faq .title span { position: absolute; top: 4px; left: 0px; display: block; width: 13px; height: 13px; }
div.faq .viewAnswer span { background: rgba(0, 0, 0, 0) url("faq.png") no-repeat scroll left 0px; }
div.faq .hideAnswer span { background: rgba(0, 0, 0, 0) url("faq.png") no-repeat scroll left -13px; }
div.colD div.faq .title span { top: 3px; }
div.faq div.wsw { margin-left: 20px; }
div.photogallery { text-align: center; }
div.photogallery div.list h2, div.photogallery div.detail h1 { text-align: left; }
.photo { padding: 2px; overflow: hidden; font-size: 85%; border: 1px solid rgb(219, 237, 255); }
div.colD div.photogallery .photo { font-size: 100%; }
div.photogallery .photo span.image { position: relative; display: block; margin: 0px auto; }
div.photogallery .photo span.image img { margin: 0px; border: 0px none; }
div.colA div.photogallery a.photo span.image img, div.colB div.photogallery div.small a.photo span.image img, div.photogallery div.detail div.photo span.image img { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; }
a.photo, a.photo:visited { float: left; text-decoration: none; color: rgb(102, 102, 102); cursor: pointer; }
div.photogallery a.photo:hover, div.photogallery a.photodiv.photogallery:active a.photo:focus { color: rgb(124, 175, 6); border-color: rgb(153, 204, 51); }
div.photogallery div.large a.photo { width: 200px; }
div.photogallery div.small a.photo { width: 118px; }
div.colD div.photogallery div.large a.photo { width: 144px; }
div.colA div.photogallery div.large a.photo { margin: 7px 28px; }
div.colB div.photogallery div.large a.photo { margin: 7px 67px; }
div.colC div.photogallery div.large a.photo { margin: 7px 20px; }
div.colD div.photogallery div.large a.photo { margin: 7px 0px; }
div.colA div.photogallery div.small a.photo { margin: 7px 25px; }
div.colB div.photogallery div.small a.photo { margin: 7px 21px; }
div.colC div.photogallery div.small a.photo { margin: 7px 61px; }
div.colD div.photogallery div.small a.photo { margin: 7px 13px; }
div.photogallery div.large a.photo span.image { width: 200px; }
div.colA div.photogallery div.large a.photo span.image { height: 200px; }
div.photogallery div.small a.photo span.image { width: 118px; }
div.colA div.photogallery div.small a.photo span.image, div.colB div.photogallery div.small a.photo span.image { height: 118px; }
div.colD div.photogallery div.large a.photo span.image { width: 144px; overflow: hidden; }
div.photogallery a.photo span.name { display: block; margin: 10px 0px; overflow: hidden; }
div.photogallery p.cleaner { clear: both; display: block; height: 0px; margin: 0px; line-height: 0; overflow: hidden; visibility: hidden; }
.photogallery p.hidden span { display: none; }
div.photogallery div.photo { width: 240px; margin: 0px auto; text-align: left; }
div.colA div.photogallery div.detail div.photo { width: 490px; }
div.photogallery div.detail div.photo span.image { width: 240px; height: 240px; }
div.colA div.photogallery div.detail div.photo span.image { width: 490px; height: 490px; }
div.photogallery span.pagination { float: right; margin-top: 5px; }
div.photogallery span.pagination a, div.photogallery span.pagination span { position: relative; float: left; text-decoration: none; cursor: pointer; }
div.photogallery span.pagination span.prev, div.photogallery span.pagination span.next { width: 34px; }
div.photogallery span.pagination span.prev { margin-right: 10px; }
div.photogallery span.pagination a, div.photogallery span.pagination a:visited { padding: 4px 6px 4px 17px; font-weight: bold; color: rgb(81, 132, 219); background: rgb(219, 237, 255) none repeat scroll 0% 0%; border: 1px solid rgb(153, 204, 255); }
div.photogallery span.pagination a:hover, div.photogallery span.pagination a:active, div.photogallery span.pagination a:focus { color: rgb(255, 255, 255); background: rgb(153, 204, 51) none repeat scroll 0% 0%; border-color: rgb(153, 204, 51); }
div.photogallery span.pagination span.prev a { padding: 4px 17px 4px 6px; }
div.photogallery span.pagination span a span { position: absolute; top: 0px; left: 0px; display: block; width: 100%; height: 100%; }
div.photogallery span.pagination span.prev a span { background: rgba(0, 0, 0, 0) url("prev.png") no-repeat scroll -233px center; }
div.photogallery span.pagination span.prev a:hover span { background-position: -733px center; }
div.photogallery span.pagination span.next a span { background: rgba(0, 0, 0, 0) url("next.png") no-repeat scroll -234px center; }
div.photogallery span.pagination span.next a:hover span { background-position: -734px center; }
div.photogallery span.pagination a#slideshowControl, div.photogallery span.pagination a#slideshowControl:visited { display: none; margin-right: 10px; padding: 4px 30px 4px 12px; font-weight: normal; color: rgb(81, 132, 219); background: rgb(255, 255, 255) url("slideshow-start.png") no-repeat scroll right center; border: 1px solid rgb(81, 132, 219); }
div#page div.photogallery span.pagination a.enableControl { display: block; }
div#page div.photogallery span.pagination a.hoverButton { color: rgb(255, 255, 255); background-color: rgb(153, 204, 51); background-image: url("slideshow-start-hover.png"); border-color: rgb(153, 204, 51); }
div#page div.photogallery span.pagination a.slideshowRunning { background-image: url("slideshow-pause.png") !important; }
div#page div.photogallery span.pagination a.slideshowRunningHover { background-image: url("slideshow-pause-hover.png") !important; }
div.photogallery a.back, div.photogallery a.back:visited { float: left; margin-top: 10px; background-image: url("back-photo.png"); }
div.products {  }
div.products div.product { padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(153, 204, 255); }
div.colA div.products div.list div.withImage .title, div.colA div.products div.list div.withImage .wsw { float: right; width: 385px; }
div.colB div.products div.list div.withImage .title, div.colB div.products div.list div.withImage .wsw { float: right; width: 200px; }
div.products span.image { display: block; margin: 5px 0px; text-align: center; }
div.colA div.products div.list div.product span.image, div.colB div.products div.list div.product span.image { float: left; width: 118px; margin: 0px; }
div.products span.image a img, div.products span.image a:visited img { margin: 0px; border: 1px solid rgb(219, 237, 255); }
div.products span.image a:hover img, div.products span.image a:focus img, div.products span.image a:active img { border-color: rgb(153, 204, 51); }
div.poll {  }
div.poll h3 { margin-bottom: 18px; overflow: hidden; font-size: 100%; color: rgb(102, 102, 102); }
div.colD div.poll h3 { margin-bottom: 12px; }
div.poll li { clear: both; margin: 0px 0px 18px; padding: 0px; overflow: hidden; text-align: right; font-size: 85%; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
div.colD div.poll li { margin-bottom: 12px; font-size: 100%; }
div.poll span.answerText { float: left; text-align: left; width: 75%; margin: 0px 5px 3px 0px; overflow: hidden; }
div.poll span.answerText { color: rgb(81, 132, 219); }
div.poll span.answerVote { white-space: nowrap; color: rgb(153, 153, 153); }
div.poll .answerBar { clear: both; display: block; height: 6px; padding: 1px; text-align: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(226, 229, 232); }
div.poll .answerBar img { display: block; margin: 0px; border: 0px none; }
div.poll p.answerCount { margin: 0px; font-size: 85%; }
div.colD div.poll p.answerCount { font-size: 100%; }
div.poll p.answerCount span { font-weight: bold; }
div.colD div.discussion div.content { margin: 0px 0px 10px; }
div.colD div.discussion div.content h2 { margin: 0px 0px 7px; }
div.discussion div.post { margin: 0px 0px 10px 20px; }
div.colA div.discussion div.post { margin-left: 140px; }
div.colB div.discussion div.post { margin-left: 80px; }
div.colC div.discussion div.post { margin-left: 60px; }
div.discussion div.level-1 { margin-left: 0px !important; }
div.colA div.discussion div.level-2, div.colB div.discussion div.level-2, div.colC div.discussion div.level-2 { margin-left: 20px; }
div.colA div.discussion div.level-3, div.colB div.discussion div.level-3, div.colC div.discussion div.level-3 { margin-left: 40px; }
div.colA div.discussion div.level-4, div.colB div.discussion div.level-4 { margin-left: 60px; }
div.colA div.discussion div.level-5 { margin-left: 80px; }
div.colA div.discussion div.level-6 { margin-left: 100px; }
div.colA div.discussion div.level-7 { margin-left: 120px; }
div.discussion div.post div.head { padding: 6px 10px; font-size: 85%; text-align: right; background: rgb(233, 244, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(153, 204, 255); }
div.colD div.discussion div.post div.head { font-size: 100%; }
div.discussion div.post div.head::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
div.discussion p { margin-bottom: 1px; overflow: hidden; text-align: left; }
div.discussion div.head p { font-weight: bold; }
div.colA div.discussion div.head p, div.colB div.discussion div.head p { margin-right: 25%; }
div.discussion div.head p * { margin-left: 3px; font-weight: normal; text-decoration: none; }
div.discussion div.head h3 { overflow: hidden; text-align: left; font-size: 100%; font-weight: bold; color: rgb(102, 102, 102); }
div.colA div.discussion div.head h3, div.colB div.discussion div.head h3 { float: left; width: 75%; margin: 0px; }
div.discussion div.head h3 em { margin-left: 3px; font-weight: normal; font-style: normal; color: rgb(81, 132, 219); }
div.discussion div.text { clear: both; padding: 4px 10px; }
div.discussion div.pagination { margin-bottom: 10px; }
div.rbcWidgetArea { margin: 10px 10px 20px; }
table#waitingTable { width: 100%; height: 100%; background-color: transparent; }
table#waitingTable, table#waitingTable td, table#waitingTable tr { background-color: transparent; text-align: center; border: 0px none; }
table#waitingTable td { vertical-align: middle; text-align: center; }
#languageSelectBody { float: right; padding-left: 15px; }
#languageSelect ul { display: none; }
#languageSelect #languageFlags, #languageSelect select { margin-top: 8px; }
#languageSelect #languageFlags a { text-decoration: none; background-repeat: no-repeat; background-position: center center; width: 16px; height: 16px; margin-left: 7px; float: left; display: block; }
.privateAccessForm label { display: block; width: 90px; }
.privateAccessForm button { border: 1px solid rgb(0, 0, 0); }
.privateAccessForm .error { color: rgb(0, 0, 0); }
#contactBlock { position: static; }
.rbcAdPosition { height: 200px; margin-bottom: 10px; }
.rbcAdPosition span { left: 0px; position: absolute; }
.formSuffixLinks { padding-top: 15px; }
form .rbcFormDescription { padding: 5px 10px 10px; }
.discussion label.groupLabel { margin-bottom: 5px !important; }
.discussion .formTextarea { margin-bottom: 5px; }
.discussion .formTextarea label { display: block !important; position: relative; }
.discussion .choicesGroup { position: relative; margin: -4px 0px 10px; text-align: left; }
.discussion .choicesGroup label { display: inline !important; float: none !important; width: auto !important; clear: right; font-weight: normal !important; padding: 0px !important; }
.discussion .choicesGroup input { position: relative !important; display: inline-block; top: 2px; float: none !important; width: auto !important; height: auto !important; background: transparent none repeat scroll 0% 0% !important; border: medium none !important; margin: 5px 0px !important; }
.discussion .choicesGroup span { float: none !important; width: auto !important; height: auto !important; }
.discussion .choicesGroup .noDis { display: block; }
.discussion select { width: 220px; margin-bottom: 0.5em; font-family: Arial,Helvetica,Tahoma,sans-serif; }
.fileInput { float: right; position: relative; width: 220px; margin-bottom: 0.5em; white-space: nowrap; text-align: left; }
.fileInputBase { height: 0px; width: auto; overflow: hidden; }
.ie .fileInputBase { height: auto; width: auto; overflow: hidden; }
.ie .fileInputBase input { position: absolute; display: block; top: 0px; left: -5px; width: 150px !important; height: 25px !important; font-size: 20px; z-index: 5; opacity: 0; cursor: pointer; }
@media not all, not all {
  .fileInputBase { height: auto; width: auto; overflow: hidden; }
  .fileInputBase input { position: absolute; display: block; top: 0px; left: -5px; width: 150px !important; height: 25px !important; font-size: 20px; z-index: 5; opacity: 0; cursor: pointer; }
}
.fileInputCover { position: relative; width: 220px; overflow: hidden; }
.fileInputText { float: none !important; position: relative; top: -6px; left: 0px; padding: 0px 0px 0px 7px; white-space: nowrap; cursor: default; }
.fileInputSelect { position: relative; display: inline-block; background: rgb(229, 238, 255) url("button.png") no-repeat scroll left top; color: rgb(81, 132, 219); padding: 0px; cursor: pointer; float: none !important; width: auto !important; }
.fileInputSelect u { display: block; text-decoration: none; background: rgba(0, 0, 0, 0) url("button.png") no-repeat scroll 0% 0%; float: left; }
.fileInputSelect .rt { background-position: right top; }
.fileInputSelect .lb { background-position: left bottom; }
.fileInputSelect .rb { background-position: right bottom; padding: 3px 12px; }
.fileInputSelect:hover { background-color: rgb(206, 222, 255); }
.fileInputSelect:hover, .fileInputSelect:hover u { background-image: url("button-hover.png"); }
.colA div.discussion select, .colA div.discussion .fileInput, .colA div.discussion .choicesGroup, .colB div.discussion select, .colB div.discussion .fileInput, .colB div.discussion .choicesGroup { float: right; }
.colA div.discussion select, .colA div.discussion .fileInput, .colA div.discussion .fileInputCover, .colA div.discussion .choicesGroup { width: 305px; }
.colB div.discussion select, .colB div.discussion .fileInput, .colB div.discussion .fileInputCover, .colB div.discussion .choicesGroup { width: 200px; }
.colC div.discussion select, .colC div.discussion .fileInput, .colC div.discussion .fileInputCover, .colC div.discussion .choicesGroup { width: 213px; }
.colD div.discussion select, .colD div.discussion .fileInput, .colD div.discussion .fileInputCover, .colD div.discussion .choicesGroup { width: 137px; }
.error { margin: 0px 0px 10px 15px; }
.choicesGroupArea { clear: both; display: block; margin: 3px 0px; padding: 1px 10px 4px; }
.colA .choicesGroupArea .groupLabel, .colB .choicesGroupArea .groupLabel { display: inline !important; padding: 0px !important; float: left !important; }
.colC .choicesGroupArea .groupLabel, .colD .choicesGroupArea .groupLabel { padding: 0px; }
